img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 140px;
  padding-left: 0%;
}

hr {
  border-color: #002b5b;
  border-style: dotted none none;
  border-width: 10px;
  width: 8%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 0%;
}
ol {
  padding-left: 0%;
}

body {
  background-color: #001a30;
}

h1 {
  color: #ea1d2d;
  padding-left: 30%;
}

h3 {
  color: #ea1d2d;
  padding-left: 30%;
}

p {
  color: white;
}

tr {
  color: white;
}

li {
  color: white;
  padding-left: 45%;
}
table {
  padding-left: 30%;
}

.footerh1 {
  padding-left: 45%;
}
.hobbicesimage {
  padding-left: 30%;
}
form {
  padding-left: 45%;
}
